<!DOCTYPE html>
<html>
    <head>
        <title>加油哦！骚年。。。</title>
    <body>
        <center>{{string}}</center>
        <center>
        {% for i in test %}
        {{ i }}
        {% endfor %}
        </center>
        {%for item in list%}
        {{item}}
        {%if not forloop.last%},{%endif%}
        {%endfor%}
        <br \>
        {%if request.user.is_authenticated%}
            {{request.user.username}},您好!
        {%else%}
            <center>请<a href="http://www.baidu.com/">登陆!</a></center>
        {%endif%}
        <form method='POST'>
            {% csrf_token %}
            {{form}}
            <input type="submit" value="提交">
        </form>
    </body>
</html>
